<div class="photoContainer">
<div class="titleContainer">
   <a href="#/gallery"class="titleText">Utah Utes</a>
   <a class="titleText">|</a>
   <a href="#/home"class="titleText">Roster</a>
   <a class="titleText">|</a>
   <a href="#/schedule"class="titleText">Schedule</a>
   <a class="titleText">|</a>
   <a href="#/stats"class="titleText">Stats</a>
   <a class="titleText">|</a>
   <a href="#/photos"class="titleText">Photos</a>
</div>
<a class="loginText">Login</a>
<div class='photoUpload'>
<input class="imagesUpload" multiple class="mulit with-preview" type="file" images="images" fileread/>
<br/>
<button class="submitPicture">Submit</button>
</div>
