<div ng-controller="scheduleController">

<div class="titleContainer">
   <a href="#/gallery"class="titleText">Utah Utes</a>
   <a class="titleText">|</a>
   <a href="#/home"class="titleText">Roster</a>
   <a class="titleText">|</a>
   <a href="#/schedule"class="titleText">Schedule</a>
   <a class="titleText">|</a>
   <a href="#/stats"class="titleText">Stats</a>
   <a class="titleText">|</a>
   <a href="#/photos"class="titleText">Photos</a>
</div>
  <div class="scheduleContainer">

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{utesLogo.image}}>
      <span class="homeTeam">{{hometeam}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{michigan.opponent}}</span>
       <img class="teamLogo" ng-src={{michigan.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{utesLogo.image}}>
      <span class="homeTeam">{{hometeam}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{utahState.opponent}}</span>
       <img class="teamLogo" ng-src={{utahState.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{fresnoState.image}}>
      <span class="homeTeam">{{fresnoState.opponent}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{hometeam}}</span>
       <img class="teamLogo" ng-src={{utesLogo.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{oregon.image}}>
      <span class="homeTeam">{{oregon.opponent}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{hometeam}}</span>
       <img class="teamLogo" ng-src={{utesLogo.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{utesLogo.image}}>
      <span class="homeTeam">{{hometeam}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{califorina.opponent}}</span>
       <img class="teamLogo" ng-src={{califorina.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{utesLogo.image}}>
      <span class="homeTeam">{{hometeam}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{arizonaState.opponent}}</span>
       <img class="teamLogo" ng-src={{arizonaState.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{usc.image}}>
      <span class="homeTeam">{{usc.opponent}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{hometeam}}</span>
       <img class="teamLogo" ng-src={{utesLogo.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{utesLogo.image}}>
      <span class="homeTeam">{{hometeam}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{oregonState.opponent}}</span>
       <img class="teamLogo" ng-src={{oregonState.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{washington.image}}>
      <span class="homeTeam">{{washington.opponent}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{hometeam}}</span>
       <img class="teamLogo" ng-src={{utesLogo.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{arizona.image}}>
      <span class="homeTeam">{{arizona.opponent}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{hometeam}}</span>
       <img class="teamLogo" ng-src={{utesLogo.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{utesLogo.image}}>
      <span class="homeTeam">{{hometeam}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{ucla.opponent}}</span>
       <img class="teamLogo" ng-src={{ucla.image}}>
    </div>

    <div class="gameContainer">
      <img class="teamLogo" ng-src={{utesLogo.image}}>
      <span class="homeTeam">{{hometeam}}</span>
      <span class="vs">VS</span>
       <span class="awayTeam"> {{colorado.opponent}}</span>
       <img class="teamLogo" ng-src={{colorado.image}}>
    </div>



    </div>

    

  </div>


</div>
